<section class="container catalog section js-catalog__tab">
  <div class="catalog__head ">
    <h2 class="catalog__header first-header" id="catalog">
      Каталог
    </h2>
    <div class="country__select js-country-select">
      <button class="select__buttom select__buttom_FR" data-tab-switch="false"></button>
      <button class="select__buttom select__buttom_DE" data-tab-switch="false"></button>
      <button class="select__buttom select__buttom_IT" data-tab-switch="false"></button>
      <button class="select__buttom select__buttom_RU activ" data-tab-switch="true"></button>
      <button class="select__buttom select__buttom_BEL" data-tab-switch="false"></button>
    </div>
  </div>
  <div class="catalog__head-texts-body">
    <div class="catalog__head-text " data-tab-open="false">
      <p class="block-text">
        О кельтской живописи нам ровно ничего неизвестно, а от галльско-римского периода во Франции дошли до нас только
        кое-какие фрагменты мозаик. Равным образом и от живописи времен франкийской монархии не сохранилось ничего,
        кроме миниатюр в тогдашних рукописях. Вообще, из всех отраслей искусства средневековой Франции, живопись — самая
        бедная количеством сохранившихся памятников.
      </p>
      <div class="catalog__body catalog__body_fr">
        <div class="catalog__col-left">
          <ul class="col-left__items js-tabs-container-fr">
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Доменико Гирландайо">
              <h3 class="col-left__header second-header">Доменико Гирландайо</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Uno dei principali pittori fiorentini del Quattrocento, capostipite della dinastia artistica quella
                continuato dal fratello David e dal figlio Ridolfo. Responsabile del laboratorio d'arte dove si
                trova il giovane Michelangelo
                padronanza delle competenze professionali durante l'anno. L'autore di cicli di affreschi in cui
                convesso, con
                la vita domestica dei personaggi biblici è mostrata in tutti i tipi di dettagli (nel loro ruolo sono
                nobile
                cittadini di Firenze in costume dell'epoca).
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Доменико Гирландайо">
              <h3 class="col-left__header second-header">Benedetto di Bindo</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga natus iure amet id nesciunt enim
                labore numquam facere explicabo minus, quia ducimus voluptatibus odit beatae vero. Earum blanditiis
                consequatur vel.
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Доменико Гирландайо">
              <h3 class="col-left__header second-header">Bergognone, Ambrogio</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Uno dei principali pittori fiorentini del Quattrocento, capostipite della dinastia artistica quella
                continuato dal fratello David e dal figlio Ridolfo. Responsabile del laboratorio d'arte dove si
                trova il giovane Michelangelo.
              </p>
            </li>
            <li class="col-left__item tab__item">Bissolo, Francesco</li>
            <li class="col-left__item tab__item">Boltraffio, Giovanni</li>
            <li class="col-left__item tab__item">Bonsignori, Francesco</li>
            <li class="col-left__item tab__item">Botticini, Rafaello</li>
            <li class="col-left__item tab__item">Bramantino</li>
            <li class="col-left__item tab__item">Brea, Ludovico</li>
            <li class="col-left__item tab__item">Biagio d'Antonio Tucci</li>
            <li class="col-left__item tab__item">Vecchietta</li>
            <li class="col-left__item tab__item">Andrea Verrocchio</li>
            <li class="col-left__item tab__item">Benozzo Gozzoli</li>
          </ul>
        </div>
        <div class="catalog__col-right js-tabs-menu-fr">
          <h3 class="col-right__header second-header active">C 1400 по 1499 гг.</h3>
          <ul class="col-right__items">
            <li class="col-right__item js-active-tab"><button class="col-right__btn">Domenico Ghirlandaio</button>
            </li>
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bergognone, Ambrogio</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bissolo, Francesco</button></li>
            <li class="col-right__item"><button class="col-right__btn">Boltraffio, Giovanni</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bonsignori, Francesco</button></li>
            <li class="col-right__item"><button class="col-right__btn">Botticini, Rafaello</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bramantino</button></li>
            <li class="col-right__item"><button class="col-right__btn">Brea, Ludovico</button></li>
            <li class="col-right__item"><button class="col-right__btn">Biagio d'Antonio Tucci</button></li>
            <li class="col-right__item"><button class="col-right__btn">Vecchietta</button></li>
            <li class="col-right__item"><button class="col-right__btn">Andrea Verrocchio</button></li>
            <li class="col-right__item"><button class="col-right__btn">Benozzo Gozzoli</button></li>
          </ul>
          <h3 class="col-right__header second-header">C 1400 по 1499 гг.</h3>
          <ul class="col-right__items">
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bergognone, Ambrogio</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bissolo, Francesco</button></li>
            <li class="col-right__item"><button class="col-right__btn">Boltraffio, Giovanni</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bonsignori, Francesco</button></li>
            <li class="col-right__item"><button class="col-right__btn">Botticini, Rafaello</button></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="catalog__head-text" data-tab-open="false">
      <p class="block-text">
        Развитие искусства Возрождения в Германии проходило под влиянием идей Реформации. По времени это был довольно
        короткий период с середины XV века до 1520-х гг. Крестьянская война, жестокое подавление крестьянских
        беспорядков, религиозный раскол и отход нескольких земель от католицизма оборвали развитие возрождения. 1530 год
        пережили только некоторые мастера, среди которых Альтдорфер, Ганс Гольбейн Младший и Лукас Кранах Старший,
        который провел последние годы жизни в ссылке вместе со своим высоким покровителем.
      </p>
      <div class="catalog__body catalog__body_de">
        <div class="catalog__col-left">
          <ul class="col-left__items js-tabs-container-de">
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Доменико Гирландайо">
              <h3 class="col-left__header second-header">Доменико Гирландайо</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Uno dei principali pittori fiorentini del Quattrocento, capostipite della dinastia artistica quella
                continuato dal fratello David e dal figlio Ridolfo. Responsabile del laboratorio d'arte dove si
                trova il giovane Michelangelo
                padronanza delle competenze professionali durante l'anno. L'autore di cicli di affreschi in cui
                convesso, con
                la vita domestica dei personaggi biblici è mostrata in tutti i tipi di dettagli (nel loro ruolo sono
                nobile
                cittadini di Firenze in costume dell'epoca).
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Доменико Гирландайо">
              <h3 class="col-left__header second-header">Benedetto di Bindo</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga natus iure amet id nesciunt enim
                labore numquam facere explicabo minus, quia ducimus voluptatibus odit beatae vero. Earum blanditiis
                consequatur vel.
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Доменико Гирландайо">
              <h3 class="col-left__header second-header">Bergognone, Ambrogio</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Uno dei principali pittori fiorentini del Quattrocento, capostipite della dinastia artistica quella
                continuato dal fratello David e dal figlio Ridolfo. Responsabile del laboratorio d'arte dove si
                trova il giovane Michelangelo.
              </p>
            </li>
            <li class="col-left__item tab__item">Bissolo, Francesco</li>
            <li class="col-left__item tab__item">Boltraffio, Giovanni</li>
            <li class="col-left__item tab__item">Bonsignori, Francesco</li>
            <li class="col-left__item tab__item">Botticini, Rafaello</li>
            <li class="col-left__item tab__item">Bramantino</li>
            <li class="col-left__item tab__item">Brea, Ludovico</li>
            <li class="col-left__item tab__item">Biagio d'Antonio Tucci</li>
            <li class="col-left__item tab__item">Vecchietta</li>
            <li class="col-left__item tab__item">Andrea Verrocchio</li>
            <li class="col-left__item tab__item">Benozzo Gozzoli</li>
          </ul>
        </div>
        <div class="catalog__col-right js-tabs-menu-de">
          <h3 class="col-right__header second-header active">C 1400 по 1499 гг.</h3>
          <ul class="col-right__items">
            <li class="col-right__item js-active-tab"><button class="col-right__btn">Domenico Ghirlandaio</button>
            </li>
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bergognone, Ambrogio</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bissolo, Francesco</button></li>
            <li class="col-right__item"><button class="col-right__btn">Boltraffio, Giovanni</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bonsignori, Francesco</button></li>
            <li class="col-right__item"><button class="col-right__btn">Botticini, Rafaello</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bramantino</button></li>
            <li class="col-right__item"><button class="col-right__btn">Brea, Ludovico</button></li>
            <li class="col-right__item"><button class="col-right__btn">Biagio d'Antonio Tucci</button></li>
            <li class="col-right__item"><button class="col-right__btn">Vecchietta</button></li>
            <li class="col-right__item"><button class="col-right__btn">Andrea Verrocchio</button></li>
            <li class="col-right__item"><button class="col-right__btn">Benozzo Gozzoli</button></li>
          </ul>
          <h3 class="col-right__header second-header">C 1400 по 1499 гг.</h3>
          <ul class="col-right__items">
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bergognone, Ambrogio</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bissolo, Francesco</button></li>
            <li class="col-right__item"><button class="col-right__btn">Boltraffio, Giovanni</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bonsignori, Francesco</button></li>
            <li class="col-right__item"><button class="col-right__btn">Botticini, Rafaello</button></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="catalog__head-text" data-tab-open="false">
      <p class="block-text">
        Акционеры крупнейших компаний, которые представляют собой яркий пример континентально-европейского типа
        политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и морали. Являясь всего лишь
        частью общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии и по сей день остаются
        уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
      </p>
      <div class="catalog__body catalog__body_it">
        <div class="catalog__col-left">
          <ul class="col-left__items js-tabs-container-it">
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Доменико Гирландайо">
              <h3 class="col-left__header second-header">Доменико Гирландайо</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Uno dei principali pittori fiorentini del Quattrocento, capostipite della dinastia artistica quella
                continuato dal fratello David e dal figlio Ridolfo. Responsabile del laboratorio d'arte dove si
                trova il giovane Michelangelo
                padronanza delle competenze professionali durante l'anno. L'autore di cicli di affreschi in cui
                convesso, con
                la vita domestica dei personaggi biblici è mostrata in tutti i tipi di dettagli (nel loro ruolo sono
                nobile
                cittadini di Firenze in costume dell'epoca).
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Доменико Гирландайо">
              <h3 class="col-left__header second-header">Benedetto di Bindo</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga natus iure amet id nesciunt enim
                labore numquam facere explicabo minus, quia ducimus voluptatibus odit beatae vero. Earum blanditiis
                consequatur vel.
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Доменико Гирландайо">
              <h3 class="col-left__header second-header">Bergognone, Ambrogio</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Uno dei principali pittori fiorentini del Quattrocento, capostipite della dinastia artistica quella
                continuato dal fratello David e dal figlio Ridolfo. Responsabile del laboratorio d'arte dove si
                trova il giovane Michelangelo.
              </p>
            </li>
            <li class="col-left__item tab__item">Bissolo, Francesco</li>
            <li class="col-left__item tab__item">Boltraffio, Giovanni</li>
            <li class="col-left__item tab__item">Bonsignori, Francesco</li>
            <li class="col-left__item tab__item">Botticini, Rafaello</li>
            <li class="col-left__item tab__item">Bramantino</li>
            <li class="col-left__item tab__item">Brea, Ludovico</li>
            <li class="col-left__item tab__item">Biagio d'Antonio Tucci</li>
            <li class="col-left__item tab__item">Vecchietta</li>
            <li class="col-left__item tab__item">Andrea Verrocchio</li>
            <li class="col-left__item tab__item">Benozzo Gozzoli</li>
          </ul>
        </div>
        <div class="catalog__col-right js-tabs-menu-it">
          <h3 class="col-right__header second-header active">C 1400 по 1499 гг.</h3>
          <ul class="col-right__items">
            <li class="col-right__item js-active-tab"><button class="col-right__btn">Domenico Ghirlandaio</button>
            </li>
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bergognone, Ambrogio</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bissolo, Francesco</button></li>
            <li class="col-right__item"><button class="col-right__btn">Boltraffio, Giovanni</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bonsignori, Francesco</button></li>
            <li class="col-right__item"><button class="col-right__btn">Botticini, Rafaello</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bramantino</button></li>
            <li class="col-right__item"><button class="col-right__btn">Brea, Ludovico</button></li>
            <li class="col-right__item"><button class="col-right__btn">Biagio d'Antonio Tucci</button></li>
            <li class="col-right__item"><button class="col-right__btn">Vecchietta</button></li>
            <li class="col-right__item"><button class="col-right__btn">Andrea Verrocchio</button></li>
            <li class="col-right__item"><button class="col-right__btn">Benozzo Gozzoli</button></li>
          </ul>
          <h3 class="col-right__header second-header">C 1400 по 1499 гг.</h3>
          <ul class="col-right__items">
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bergognone, Ambrogio</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bissolo, Francesco</button></li>
            <li class="col-right__item"><button class="col-right__btn">Boltraffio, Giovanni</button></li>
            <li class="col-right__item"><button class="col-right__btn">Bonsignori, Francesco</button></li>
            <li class="col-right__item"><button class="col-right__btn">Botticini, Rafaello</button></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="catalog__head-text activ" data-tab-open="true">
      <p class="block-text">
        Акционеры крупнейших компаний, которые представляют собой яркий пример континентально-европейского типа
        политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и морали. Являясь всего лишь
        частью общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии и по сей день остаются
        уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
      </p>
      <div class="catalog__body catalog__body_ru">
        <div class="catalog__col-left">
          <ul class="col-left__items js-tabs-container-ru">
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Доменико Гирландайо">
              <h3 class="col-left__header second-header">Доменико Гирландайо</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую
                продолжили его брат Давид и сын Ридольфо. Глава художественной мастерской, где юный Микеланджело в
                течение года овладевал профессиональными навыками. Автор фресковых циклов, в которых выпукло, со
                всевозможными подробностями показана домашняя жизнь библейских персонажей (в их роли выступают
                знатные граждане Флоренции в костюмах того времени).
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Доменико Гирландайо">
              <h3 class="col-left__header second-header">Бенедетто ди Биндо</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                Даль она своего заглавных пор свою домах жизни родного? Взобравшись..
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Доменико Гирландайо">
              <h3 class="col-left__header second-header">Бергоньоне, Амброджо</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую
                продолжили его брат Давид и сын Ридольфо. Глава художественной мастерской, где юный Микеланджело в
                течение года овладевал профессиональными навыками.
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Биссоло, Франческо">
              <h3 class="col-left__header second-header">Биссоло, Франческо</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Больтраффио, Джованни">
              <h3 class="col-left__header second-header">Больтраффио, Джованни</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Бонсиньори, Франческо">
              <h3 class="col-left__header second-header">Бонсиньори, Франческо</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Боттичини, Рафаэлло">
              <h3 class="col-left__header second-header">Боттичини, Рафаэлло</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Брамантино">
              <h3 class="col-left__header second-header">Брамантино</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Бреа, Людовико">
              <h3 class="col-left__header second-header">Бреа, Людовико</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Бьяджо д’Антонио Туччи">
              <h3 class="col-left__header second-header">Бьяджо д’Антонио Туччи</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Веккьетта">
              <h3 class="col-left__header second-header">Веккьетта</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Андреа Верроккьо">
              <h3 class="col-left__header second-header">Андреа Верроккьо</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Беноццо Гоццоли">
              <h3 class="col-left__header second-header">Беноццо Гоццоли</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Граначчи, Франческо">
              <h3 class="col-left__header second-header">Граначчи, Франческо</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Грегорио ди Чекко">
              <h3 class="col-left__header second-header">Грегорио ди Чекко</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Джованни да Удине">
              <h3 class="col-left__header second-header">Джованни да Удине</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Джованни ди Паоло">
              <h3 class="col-left__header second-header">Джованни ди Паоло</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Джорджоне">
              <h3 class="col-left__header second-header">Джорджоне</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Парентино, Бернардо">
              <h3 class="col-left__header second-header">Парентино, Бернардо</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Пезеллино">
              <h3 class="col-left__header second-header">Пезеллино</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Пьетро Перуджино">
              <h3 class="col-left__header second-header">Пьетро Перуджино</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Перуцци, Бальдассаре">
              <h3 class="col-left__header second-header">Перуцци, Бальдассаре</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Пизанелло">
              <h3 class="col-left__header second-header">Пизанелло</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog.jpg" alt="Пинтуриккьо">
              <h3 class="col-left__header second-header">Пинтуриккьо</h3>
              <span class="col-left__footnote">2 июня 1448 — 11 января 1494.</span>
              <p class="col-left__text">
                Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. За залетают
                страна журчит однажды запятой своих над переписали ipsum!
              </p>
            </li>
          </ul>

        </div>
        <div class="catalog__col-right js-tabs-menu-ru">
          <h3 class="col-right__header second-header active">C 1400 по 1499 гг.</h3>
          <ul class="col-right__items">
            <li class="col-right__item js-active-tab"><button class="col-right__btn">Доменико Гирландайо</button>
            </li>
            <li class="col-right__item"><button class="col-right__btn">Бенедетто ди Биндо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бергоньоне, Амброджо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Биссоло, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Больтраффио, Джованни</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бонсиньори, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Боттичини, Рафаэлло</button></li>
            <li class="col-right__item"><button class="col-right__btn">Брамантино</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бреа, Людовико</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бьяджо д’Антонио Туччи</button></li>
            <li class="col-right__item"><button class="col-right__btn">Веккьетта</button></li>
            <li class="col-right__item"><button class="col-right__btn">Андреа Верроккьо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Беноццо Гоццоли</button></li>
            <li class="col-right__item"><button class="col-right__btn">Граначчи, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Грегорио ди Чекко</button></li>
            <li class="col-right__item"><button class="col-right__btn">Джованни да Удине</button></li>
            <li class="col-right__item"><button class="col-right__btn">Джованни ди Паоло</button></li>
            <li class="col-right__item"><button class="col-right__btn">Джорджоне</button></li>
            <li class="col-right__item"><button class="col-right__btn">Парентино, Бернардо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Пезеллино</button></li>
            <li class="col-right__item"><button class="col-right__btn">Пьетро Перуджино</button></li>
            <li class="col-right__item"><button class="col-right__btn">Перуцци, Бальдассаре</button></li>
            <li class="col-right__item"><button class="col-right__btn">Пизанелло</button></li>
            <li class="col-right__item"><button class="col-right__btn">Пинтуриккьо</button></li>
          </ul>
          <h3 class="col-right__header second-header">C 1400 по 1499 гг.</h3>
          <ul class="col-right__items">
            <li class="col-right__item"><button class="col-right__btn">Бенедетто ди Биндо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бергоньоне, Амброджо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Биссоло, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Больтраффио, Джованни</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бонсиньори, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Боттичини, Рафаэлло</button></li>
          </ul>
          <h3 class="col-right__header second-header">C 1600 по 1699 гг..</h3>
          <ul class="col-right__items">
            <li class="col-right__item"><button class="col-right__btn">Бенедетто ди Биндо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бергоньоне, Амброджо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Биссоло, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Больтраффио, Джованни</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бонсиньори, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Боттичини, Рафаэлло</button></li>
          </ul>
          <h3 class="col-right__header second-header">C 1700 по 1799 гг.</h3>
          <ul class="col-right__items">
            <li class="col-right__item"><button class="col-right__btn">Бенедетто ди Биндо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бергоньоне, Амброджо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Биссоло, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Больтраффио, Джованни</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бонсиньори, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Боттичини, Рафаэлло</button></li>
          </ul>
          <h3 class="col-right__header second-header">C 1800 по 1899 гг.</h3>
          <ul class="col-right__items">
            <li class="col-right__item"><button class="col-right__btn">Бенедетто ди Биндо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бергоньоне, Амброджо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Биссоло, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Больтраффио, Джованни</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бонсиньори, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Боттичини, Рафаэлло</button></li>
          </ul>
          <h3 class="col-right__header second-header">C 1900 по 1999 гг.</h3>
          <ul class="col-right__items">
            <li class="col-right__item"><button class="col-right__btn">Бенедетто ди Биндо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бергоньоне, Амброджо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Биссоло, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Больтраффио, Джованни</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бонсиньори, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Боттичини, Рафаэлло</button></li>
          </ul>
          <h3 class="col-right__header second-header">C 2000 г.</h3>
          <ul class="col-right__items">
            <li class="col-right__item"><button class="col-right__btn">Бенедетто ди Биндо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бергоньоне, Амброджо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Биссоло, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Больтраффио, Джованни</button></li>
            <li class="col-right__item"><button class="col-right__btn">Бонсиньори, Франческо</button></li>
            <li class="col-right__item"><button class="col-right__btn">Боттичини, Рафаэлло</button></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="catalog__head-text" data-tab-open="false">
      <p class="block-text">
        Ещё в эпоху Ренессанса Фландрия прославилась своей живописью (фламандские примитивисты). Позднее во Фландрии жил
        и творил Рубенс (в Бельгии Антверпен до сих пор часто называют городом Рубенса). Однако ко второй половине XVII
        века фламандское искусство постепенно пришло в упадок. Позднее в Бельгии развивалась живопись в стилях
        романтизма, экспрессионизма и сюрреализма. Известные бельгийские художники — Джеймс Энсор (экспрессионизм и
        сюрреализм), Констант Пермеке (экспрессионизм), Леон Спиллиарт (символизм), Франц Ричард Унтербергер
        (романтизм), Ги Гюйгенс (фр.), Рене Магритт (считающийся одним из самых важных представителей сюрреализма).
      </p>
      <div class="catalog__body catalog__body_bel">
        <div class="catalog__col-left">
          <ul class="col-left__items js-tabs-container-bel">
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Benedetto di Bindo1">
              <h3 class="col-left__header second-header">Benedetto di Bindo1</h3>
              <span class="col-left__footnote">Когдато очень давно</span>
              <p class="col-left__text">
                Een van de toonaangevende Florentijnse schilders Quattrocento, oprichter van de artistieke dynastie
                dat
                vervolgd door zijn broer David en zoon Ridolfo. Hoofd van de kunstwerkplaats waar de jonge
                Michelangelo is
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Benedetto di Bindo2">
              <h3 class="col-left__header second-header">Benedetto di Bindo2</h3>
              <span class="col-left__footnote">Когдато очень давно</span>
              <p class="col-left__text">
                Een van de toonaangevende Florentijnse schilders Quattrocento, oprichter van de artistieke dynastie
                dat
                vervolgd door zijn broer David en zoon Ridolfo. Hoofd van de kunstwerkplaats waar de jonge
                Michelangelo is
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Benedetto di Bindo3">
              <h3 class="col-left__header second-header">Benedetto di Bindo3</h3>
              <span class="col-left__footnote">Когдато очень давно</span>
              <p class="col-left__text">
                Een van de toonaangevende Florentijnse schilders Quattrocento, oprichter van de artistieke dynastie
                dat
                vervolgd door zijn broer David en zoon Ridolfo. Hoofd van de kunstwerkplaats waar de jonge
                Michelangelo is
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Benedetto di Bindo4">
              <h3 class="col-left__header second-header">Benedetto di Bindo4</h3>
              <span class="col-left__footnote">Когдато очень давно</span>
              <p class="col-left__text">
                Een van de toonaangevende Florentijnse schilders Quattrocento, oprichter van de artistieke dynastie
                dat
                vervolgd door zijn broer David en zoon Ridolfo. Hoofd van de kunstwerkplaats waar de jonge
                Michelangelo is
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Benedetto di Bindo5">
              <h3 class="col-left__header second-header">Benedetto di Bindo5</h3>
              <span class="col-left__footnote">Когдато очень давно</span>
              <p class="col-left__text">
                Een van de toonaangevende Florentijnse schilders Quattrocento, oprichter van de artistieke dynastie
                dat
                vervolgd door zijn broer David en zoon Ridolfo. Hoofd van de kunstwerkplaats waar de jonge
                Michelangelo is
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Benedetto di Bindo6">
              <h3 class="col-left__header second-header">Benedetto di Bindo6</h3>
              <span class="col-left__footnote">Когдато очень давно</span>
              <p class="col-left__text">
                Een van de toonaangevende Florentijnse schilders Quattrocento, oprichter van de artistieke dynastie
                dat
                vervolgd door zijn broer David en zoon Ridolfo. Hoofd van de kunstwerkplaats waar de jonge
                Michelangelo is
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Benedetto di Bindo7">
              <h3 class="col-left__header second-header">Benedetto di Bindo7</h3>
              <span class="col-left__footnote">Когдато очень давно</span>
              <p class="col-left__text">
                Een van de toonaangevende Florentijnse schilders Quattrocento, oprichter van de artistieke dynastie
                dat
                vervolgd door zijn broer David en zoon Ridolfo. Hoofd van de kunstwerkplaats waar de jonge
                Michelangelo is
              </p>
            </li>
            <li class="col-left__item tab__item">
              <img class="col-left__img" src="./img/catalog/catalog-1.jpg" alt="Benedetto di Bindo8">
              <h3 class="col-left__header second-header">Benedetto di Bindo8</h3>
              <span class="col-left__footnote">Когдато очень давно</span>
              <p class="col-left__text">
                Een van de toonaangevende Florentijnse schilders Quattrocento, oprichter van de artistieke dynastie
                dat
                vervolgd door zijn broer David en zoon Ridolfo. Hoofd van de kunstwerkplaats waar de jonge
                Michelangelo is
              </p>
            </li>

          </ul>
        </div>
        <div class="catalog__col-right js-tabs-menu-bel">
          <h3 class="col-right__header second-header active">C 1400 по 1499 гг.</h3>
          <ul class="col-right__items">
            <li class="col-right__item js-active-tab"><button class="col-right__btn">Domenico Ghirlandaio</button>
            </li>
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo1</button></li>
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo2</button></li>
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo3</button></li>
          </ul>
          <h3 class="col-right__header second-header">C 1400 по 1499 гг.</h3>
          <ul class="col-right__items">
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo4</button></li>
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo5</button></li>
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo6</button></li>
          </ul>
          <h3 class="col-right__header second-header">C 1600 по 1699 гг..</h3>
          <ul class="col-right__items">
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo7</button></li>
            <li class="col-right__item"><button class="col-right__btn">Benedetto di Bindo8</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>