<section class="container catalog section js-catalog__tab">
  <div class="catalog__head ">
    <h2 class="catalog__header first-header" id="catalog">
      Каталог
    </h2>
    <div class="country__select js-country-select">
      <button class="select__buttom select__buttom_fra" data-country="fra"></button>
      <button class="select__buttom select__buttom_ger" data-country="ger"></button>
      <button class="select__buttom select__buttom_ita" data-country="ita"></button>
      <button class="select__buttom select__buttom_rus activ" data-country="rus" data-activ="true"></button>
      <button class="select__buttom select__buttom_bel" data-country="bel"></button>
    </div>
  </div>
  <div class="catalog__head-texts-body">
    <div class="catalog__head-text">
      <p class="block-text js-catalog-text"></p>
      <div class="catalog__body catalog__body">
        <figure class="catalog__col-left js-person">
          <img class="col-left__img" data-person="replica" src="./img/catalog/catalog.jpg" alt="">
          <figcaption>
            <h3 class="col-left__header second-header" data-person="name"></h3>
            <span class="col-left__footnote" data-person="lifetime"></span>
            <p class="col-left__text" data-person="descr"></p>
          </figcaption>
        </figure>
        <div class="catalog__col-right js-tabs-menu">
          <h3 class="col-right__header second-header">C 1400 по 1499 гг.</h3>
          <ul class="col-right__items" date-period="0">
          </ul>
          <h3 class="col-right__header second-header">C 1500 по 1599 гг.</h3>
          <ul class="col-right__items" date-period="1">
          </ul>
          <h3 class="col-right__header second-header">C 1600 по 1699 гг.</h3>
          <ul class="col-right__items" date-period="2">
          </ul>
          <h3 class="col-right__header second-header">C 1700 по 1799 гг.</h3>
          <ul class="col-right__items" date-period="3">
          </ul>
          <h3 class="col-right__header second-header">C 1800 по 1899 гг.</h3>
          <ul class="col-right__items" date-period="4">
          </ul>
          <h3 class="col-right__header second-header">C 1900 по 1999 гг.</h3>
          <ul class="col-right__items" date-period="5">
          </ul>
          <h3 class="col-right__header second-header">C 2000 г.</h3>
          <ul class="col-right__items" date-period="6">
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>