<section class="container projects section">
  <h2 class="projects__header first-header" id="projects">
    Проекты
  </h2>
  <div class="projects__text block-text">
    Предварительные выводы: постоянное информационно-пропагандистское обеспечение нашей деятельности однозначно
    фиксирует необходимость своевременного выполнения сверхзадачи. А ещё независимые государства смешаны с не
    уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Прежде
    всего, постоянное информационно-пропагандистское
    <button class="projects__tooltip projects__tooltip_one"
      data-tooltip="Пример современных тенденций - современная методология разработки"></button>
    обеспечение нашей деятельности однозначно фиксирует необходимость экономической целесообразности принимаемых
    решений. И нет сомнений, что действия представителей оппозиции могут быть рассмотрены
    <button class="projects__tooltip projects__tooltip_two" data-tooltip="В стремлении повысить качество"></button>
    исключительно в разрезе маркетинговых и финансовых
    <button class="projects__tooltip projects__tooltip_three"
      data-tooltip="Приятно, граждане, наблюдать, как сделанные на базе аналитики выводы вызывают у вас эмоции">
    </button>
    предпосылок. Банальные, но неопровержимые выводы, а также представители современных социальных резервов
    призывают нас к новым свершениям, которые, в свою очередь, должны быть смешаны с не уникальными данными до
    степени совершенной
    неузнаваемости. Подробнее: <a class="projects__link link-interaction" href="#">blanchard-art.ru/projects/about</a>
  </div>
  <h3 class="projects__header-h3 second-header">Партнёры проектов:</h3>
  <div class="projects__slider">
    <div class="projects-slider swiper-container">
      <ul class="projects-slider__slides swiper-wrapper">
        <li class="swiper-slide projects-slider__slide">
          <a class="projects-slider__slide-link" href="#">
            <img class="projects-slider__slide-img" src="./img/projects/01-project-partners.png"
              alt="Логотип компаниии партнера">
          </a>
        </li>
        <li class="swiper-slide projects-slider__slide">
          <a class="projects-slider__slide-link" href="#">
            <img class="projects-slider__slide-img" src="./img/projects/02-project-partners.png"
              alt="Логотип компаниии партнера">
          </a>
        </li>
        <li class="swiper-slide projects-slider__slide">
          <a class="projects-slider__slide-link" href="#">
            <img class="projects-slider__slide-img" src="./img/projects/03-project-partners.png"
              alt="Логотип компаниии партнера">
          </a>
        </li>
        <li class="swiper-slide projects-slider__slide">
          <a class="projects-slider__slide-link" href="#">
            <img class="projects-slider__slide-img" src="./img/projects/04-project-partners.png"
              alt="Логотип компаниии партнера">
          </a>
        </li>
        <li class="swiper-slide projects-slider__slide">
          <a class="projects-slider__slide-link" href="#">
            <img class="projects-slider__slide-img" src="./img/projects/05-project-partners.png"
              alt="Логотип компаниии партнера">
          </a>
        </li>
        <li class="swiper-slide projects-slider__slide">
          <a class="projects-slider__slide-link" href="#">
            <img class="projects-slider__slide-img" src="./img/projects/06-project-partners.png"
              alt="Логотип компаниии партнера">
          </a>
        </li>
        <li class="swiper-slide projects-slider__slide">
          <a class="projects-slider__slide-link" href="#">
            <img class="projects-slider__slide-img" src="./img/projects/07-project-partners.png"
              alt="Логотип компаниии партнера">
          </a>
        </li>
        <li class="swiper-slide projects-slider__slide">
          <a class="projects-slider__slide-link" href="#">
            <img class="projects-slider__slide-img" src="./img/projects/08-project-partners.png"
              alt="Логотип компаниии партнера">
          </a>
        </li>
        <li class="swiper-slide projects-slider__slide">
          <a class="projects-slider__slide-link" href="#">
            <img class="projects-slider__slide-img" src="./img/projects/09-project-partners.png"
              alt="Логотип компаниии партнера">
          </a>
        </li>
      </ul>
    </div>
    <div class="slider__navigation slider__navigation_projects">
      <div class="projects-slider__btn-prev swiper-button-prev"></div>
      <div class="projects-slider__btn-next swiper-button-next"></div>
    </div>
  </div>
</section>